<%- include('partials/header') %> 
    <div class="container jumbotron centered">
        
        <h3 class="text-danger">This user is not registered!</h3>
        <a href="/register"> Register </a>
 
    </div>
<%- include('partials/footer') %> 