<%- include('partials/header') %>


<div class="jumbotron centered" style="padding-top :50px">
  <div class="container">
    <img src="/drdo_logo.png" width="10%" height = "10%">
    <h1 class="display-3">DRDO Temporary Job Application Portal</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <span>---></span>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
